<%- include('partials/header') %>

<div class="card">
  <div class="card-body">
    <form action="/groups/search" method="POST">
      <!-- Search form -->
      <div class="md-form active-pink active-pink-2 mb-3 mt-0">
        <input class="form-control" type="text" placeholder="Search for a Group" aria-label="Search" name="groupName">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>


<section id="myGroups">
  <h1>Created by me</h1>
  <div id="myGroups-carousel" class="carousel slide" data-ride="false" data-interval="false">
    <div class="carousel-inner">
      <%for (let i=0; i<myGroups.length; i+=3){%>
        <%if (i == 0){%>
          <div class="carousel-item active">
        <%}else{%>
          <div class="carousel-item">
        <%}%>
          <div class='row'>
            <%for (let j=i; j<i+3 && j<myGroups.length; j++){%>
              <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                  <div class='card-header'>
                    <h3><%=myGroups[j].name%></h3>
                  </div>
                  <div class='card-body'>
                    <p><%=myGroups[j].description%></p>
                    <a class="btn btn-block btn-dark" role="button" href="/posts/<%=myGroups[j]._id%>/event" name="viewButton">View More</a>
                    <a class="btn btn-block btn-danger" role="button" href="/delete/<%=myGroups[j]._id%>" name="deleteButton">Delete Group</a>
                  </div>
                </div>
              </div>
            <%}%>
          </div>
        </div>
      <%}%>
    <a class="carousel-control-prev" href="#myGroups-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myGroups-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <span>
    <button class="btn add-group-btn btn-lg btn-success" type="button" data-toggle="collapse" data-target="#addgroupform" aria-expanded="false" aria-controls="collapseExample">
      <i class="fas fa-plus-circle"></i> New Group
    </button>
  </span>
  <div class="collapse" id="addgroupform">
    <div class="card card-body">
      <form class="" action="/groups" method="post">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="text" name="groupName">
          <label>Post</label>
          <textarea class="form-control" name="groupDescription" rows="5" cols="30"></textarea>
        </div>
        <button class="btn btn-success" type="submit" name="button">Publish</button>
      </form>
    </div>
  </div>
</section>

<hr>

<section id="myMembershipGroups">
  <h1>Groups I have joined</h1>
  <div id="myMembershipGroups-carousel" class="carousel slide" data-ride="false" data-interval="false">
    <div class="carousel-inner">
      <%for (let i=0; i<myMembershipGroups.length; i+=3){%>
        <%if (i == 0){%>
          <div class="carousel-item active">
        <%}else{%>
          <div class="carousel-item">
        <%}%>
          <div class='row'>
            <%for (let j=i; j<i+3 && j<myMembershipGroups.length; j++){%>
              <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                  <div class='card-header'>
                    <h3><%=myMembershipGroups[j].name%></h3>
                  </div>
                  <div class='card-body'>
                    <p><%=myMembershipGroups[j].description%></p>
                    <a class="btn btn-block btn-dark" role="button" href="/posts/<%=myMembershipGroups[j]._id%>/event" name="viewButton">View More</a>
                    <a class="btn btn-warning btn-block" role="button" href= "/leave/<%=myMembershipGroups[j]._id%>"> Leave Group </a>
                  </div>
                </div>
              </div>
            <%}%>
          </div>
        </div>
      <%}%>
    <a class="carousel-control-prev" href="#myMembershipGroups-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myMembershipGroups-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>
<hr>


<section id="otherGroups">
  <h1>Other Available Groups</h1>
  <div id="otherGroups-carousel" class="carousel slide" data-ride="false" data-interval="false">
    <div class="carousel-inner">
      <%for (let i=0; i<otherGroups.length; i+=3){%>
        <%if (i == 0){%>
          <div class="carousel-item active">
        <%}else{%>
          <div class="carousel-item">
        <%}%>
          <div class='row'>
            <%for (let j=i; j<i+3 && j<otherGroups.length; j++){%>
              <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                  <div class='card-header'>
                    <h3><%=otherGroups[j].name%></h3>
                  </div>
                  <div class='card-body'>
                    <p><%=otherGroups[j].description%></p>
                    <a class="btn btn-success btn-block" role="button" href= "/join/<%=otherGroups[j]._id%>"> Join Group </a>
                  </div>
                </div>
              </div>
            <%}%>
          </div>
        </div>
      <%}%>
    <a class="carousel-control-prev" href="#otherGroups-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#otherGroups-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <a class="btn btn-danger group-logout-btn btn-lg" href="/logout" role="button">Log Out</a>
</section>
<hr>
<%- include('partials/footer') %>
