<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <%usersWithSecrets.forEach(function(user){%>
        <h3><%= user.title%></h3>
        <p class="secret-text"><%= user.description%></p>
    <%})%>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
