<%- include('partials/header') %>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <p> Group 1</p>
          <p> Group 2 </p>
          <a class="btn btn-dark btn-lg btn-block" href="/groups" role="button"> All Groups</a>
          <a class="btn btn-danger btn-lg btn-block" href="/logout" role="button">Log Out</a>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="list-group">
        <div class="card card-body">
          <form class="" action="/submit" method="post">
            <div class="form-group">
              <label>Title</label>
              <input class="form-control" type="text" name="postName">
              <label>Post</label>
              <textarea class="form-control" name="postDescription" rows="5" cols="30"></textarea>
              <input class="form-control" type="hidden" name="groupID" value="<%= groupID %>">
            </div>
            <button class="btn btn-dark" type="submit" name="publishButton">Publish</button>
          </form>
        </div>
      <%posts.forEach(function(post){%>
        <a href="" class="list-group-item list-group-item-action list-group-item-light">
        <h3><%= post.title%></h3>
        <p><%= post.description%></p>
        </a>
      <%})%>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card card-body">
          <form action="/search" method="POST">
            <!-- Search form -->
            <div class="md-form active-pink active-pink-2 mb-3 mt-0">
              <input class="form-control" type="text" placeholder="Search for a POST" aria-label="Search">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="createPostButton"> -->
  <div class="collapse" id="addpostform">
  </div>
  <!-- </div> -->

<%- include('partials/footer') %>
