<%- include('partials/header') %>
<%- include('partials/navbar') %>

  <div class="container">
    <h1 class="display-3">
      <%if(posts.length > 0){%>
        <%=posts[0].type%>
      <%} else{%>
        Events
      <%}%>
    </h1>
    <%posts.forEach(function(post){%>
      <h3><%= post.title%></h3>
      <p><%= post.description%></p>
    <%})%>

    <hr>
    <a class="btn btn-dark btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Make a POST</a>
  </div>

<%- include('partials/footer') %>
