<%- include('partials/header') %>
<%- include('partials/navbar') %>
  <div class="container">
    <h1 class="display-3">
      <%if(posts.length > 0){%>
        <%=posts[0].type%>
      <%} else{%>
        Events
      <%}%>
    </h1>
    <%posts.forEach(function(post){%>
      <h3><%= post.title%></h3>
      <p><%= post.description%></p>
    <%})%>

    <hr>
    <a class="btn btn-dark btn-lg" href="/groups" role="button">See all Groups</a>
    <a class="btn btn-danger btn-lg" href="/logout" role="button">Log Out</a>
    <span>
      <button class="btn btn-lg btn-success" type="button" data-toggle="collapse" data-target="#addpostform" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-plus-circle"></i> Create a New POST
      </button>
    </span>
  </div>


<!-- <div class="createPostButton"> -->
  <div class="collapse" id="addpostform">
    <div class="card card-body">
      <form class="" action="/submit" method="post">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" type="text" name="postName">
          <label>Post</label>
          <textarea class="form-control" name="postDescription" rows="5" cols="30"></textarea>
          <select name="postType">
          <option value="Event">Event</option>
          <option value="Job">Job</option>
          <option value="Housing">Housing</option>
          <option value="News">News</option>
          <input type="hidden" name="groupID" value="<%=groupID%>"</input>
        </select>
        </div>
        <button class="btn btn-dark" type="submit" name="publishButton">Publish</button>
      </form>
    </div>
  </div>
  <!-- </div> -->

<%- include('partials/footer') %>
